body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* @font-face {
  font-family: 'Dovemayo_gothic';
  src: url('./fonts/Dovemayo_gothic.ttf') format('truetype');
} */

/* @font-face {
  font-family: 'insungit_Regular';
  src: url('./fonts/insungit_Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: 'insungit_Regular';
  src: url('./fonts/NanumSquareRoundR.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}